.signUp-div{
  width : 400px;
  height: 400px;
  position: absolute;
	top: 30%;
	left: 50%;
	transform: translate( -50%, -50% );
  background-color: #DCE2F0;
  display : flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  user-select: none;
  border-radius: 65px;
}
.signUpTitle {
  color : #50586C;
  font-size : 30px;
  font-weight: bold;
  padding : 20px 0 30px 0;
}
.signUpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.closeBtn{
  position: absolute;
  top : 20px;
  right : 35px;
  cursor: pointer;
}
.closeBtn:hover{
  transform: scale(1.1);
  text-decoration: underline;
}
.id-div{
  display: flex;
  align-items: center;
}
#signUpId{
  width : 230px;
}
.id-div button{
  height: 25px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
}
#signUpBtn {
  width : 100px;
  cursor: pointer;
  outline: none;
  background-color: #fcffe2;
  border-radius: 30px;
}